/* .slider-img:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width:100%;
    border-radius: 10px;
    background-size: cover;
    
    display: inline-block;
    background: linear-gradient(to bottom, #151515 0%, rgba(21, 21, 21, 0) 100%);
}

#image{
   
} */



#image{
    width: 1550px;
    height:650px;
}

.slider-img:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, transparent 0%, black 100%);
  }

